@model teste_mvc_webapp.Models.Pessoa
    ViewBag.Title ="Listando dados";
}
<h2> Lista os dados da pessoa</h2>
<fieldset>
    <legend>Pessoa</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Nome)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Observacao)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Observacao)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Idade)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Idade)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Email)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model=> model.Login)
    </div>

    <div class="display-field">
        @Html.DisplayFor(model=> model.Login)
    </div>

</fieldset>

<p>
    @Html.ActionLink("Voltar","Index")
</p>
